.home-page {
	margin-left: 360px; /* Align content with sidebar */
	padding: 100px; /* Add some padding */
  }
  
  .form-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
  }
  
  .inputBox {
	position: relative;
	display: flex;
	align-items: center;
  }
  
  .search-bar {
	width: 450px;
	height: 15px;
	padding: 15px 30px;
	border: 0cap;
	font-size: 15px;
	background-color: #ebe9e9;
  }
  
  .icon {
	position: absolute;
	left: 10px;
	color: #888;
  }
  
  .image-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Grid layout with 2 columns */
	gap: 20px;
  }
  
  .image-item {
	
	padding: 10px;
	background-color: #fafafa;
	text-align: center; /* Center align text and images */
  }
  
  .image-item img {
	max-width: 10dvh;
	max-height: 25dvh;
	display: block;
	margin: 0 auto 10px auto;
  }
  
  .name {
	font-size: 1.2em;
	margin-bottom: 5px;
  }
  
  .description {
	font-size: 1em;
	color: white;
	background-color: rgb(190, 190, 190);
	width: 100%;
	height: 40%;
  }
