.navbar {
	position: fixed;
	top: 0;
	left: 360px; 
	right: 0; 
	height: 60px; 
	background-color: white;
	color: rgb(19, 19, 20);
	padding: 0 40px; 
	display: flex;
	justify-content: flex-end;
	align-items: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	z-index: 900; 
  }
  
  .user-info {
	display: flex;
	align-items:end;
	color:rgb(3, 3, 78);
	margin-right: 20px;
	}

  .navbar .user-info span {
	color:rgb(3, 3, 78);
	margin-right: 20px;
	font-size: 15px;
	font-weight: bold;
  }
  .nav-text {
	font-size: 15px;
	font-weight: bold;
	color: rgb(3, 3, 78);
	margin-right: 850px; 
  }

  .profile-icon{
	margin-right: 10px; 
  }