.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 360px; /* Fixed width */
	height: 100vh; /* Full height */
	background: #2188b1;
	color: aliceblue;
	padding: 20px; /* Padding */
	z-index: 1000; /* Higher z-index to stay on top */
  }
  
  .sidebar .logo {
	margin: 0 350px 90px 10px; /* Adjust margin around the logo */
	font-size: 2em;
	
  }
  
  .sidebar .menu-items {
	display: flex;
	flex-direction: column;
	gap: 30px; /* Space between menu items */
	margin: 0.5px; /* Adjust margin for menu items */
  }
  
  .sidebar .menu-items a {
	text-decoration: none; /* Remove underline */
  }
  
  .sidebar button {
	width: 100%;
	background: none;
	border: none;
	color: aliceblue;
	font-size: 1.2em;
	text-align: left;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 4px;
  }
  
  .sidebar button:hover {
	background: rgba(355, 355, 355, 0.5); /* Slight hover effect */
  }

  .sidebar .logout {
	margin: 0 500px 500px 10px;
  }