.register-container {
	font-family: "Inter", sans-serif;
	padding: 0px;
	
	display:flex;
	padding: 0px;
	
	height: 800px;
	background-image: url("/Images/image.jfif");
	background-size:130dvh; /* Make the background image cover the entire page */
	background-position:right; /* Center the background image */
	background-repeat: no-repeat; /* Prevent the image from repeating */
	
	margin: 20px;
  }

  .error{

	color: red;
  }
  
  .wrapper {
	
	background: #fff;
	min-width: 600px;
	height: 800px;
	top: 54px;
	left: 54px;
  }
  
  .form-container {
	padding: 40px 90px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  
  .register-form h1 {
	font-size: 25px;
	margin-bottom: 40px;
	color: #0F3C4C;
	text-align: left;  /* Aligns the text to the left */
  }
  
  .register-form p {
	font-size: 14px;
	color: #888;
	margin-bottom: 20px;
  }
  
  .register-form input {
	background-color: #fcfdfd;
	color: #0F3C4C;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #aaa8a8;
	border-radius: 4px;
	font-size: 14px;
  }
  
  .register-btn {
	background-color: #2187AB;
	color: white;
	border: none;
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 40px;
  }
  
  .or {
	text-align: center;
	margin: 20px 0;
	font-size: 12px;
	font-weight: 600;
	color: #353434;
  }
  
  .social-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 10px;
  }
  
  .google-btn {
  background-color: white;
  color: black;
  border: none;  /* Removes the border */
  box-shadow: 6px 6px 6px rgba(0.1, 0.1, 0.1, 0.1);  /* Adds a shadow */
	
  }
  
  .facebook-btn {
  background-color: white;
  color: black;
  border: none;  /* Removes the border */
  box-shadow: 6px 6px 6px rgba(0.1, 0.1, 0.1, 0.1);  /* Adds a shadow */
  }
  
  .icon {
	margin-right: 8px;
  }
  
  label{
	color: #0F3C4C;
	font-size: 12px;
	font-weight: 600;
	line-height: 14.52px;
	margin: 0; /* Remove default margin */
	padding: 0; /* Remove default padding */
	display:flex; /* Ensure label takes up full width */
}
  
 
  